name: Release package to CPAN via Pause

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Perl environment
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: '5.34'
          install-modules: 'CPAN::Uploader'
      
      - name: Test and build
        run: |
          cd Geo-IPinfo
          cpanm ExtUtils::MakeMaker LWP::UserAgent JSON File::ShareDir::Install Cache::LRU File::Share Net::CIDR Net::CIDR::Set
          perl Makefile.PL && RELEASE_TESTING=TRUE make test && make distcheck && make dist
      
      - name: Upload to CPAN
        run: |
          cd Geo-IPinfo
          cpan-upload -v -u $USERNAME -p $PASSWORD *.tar.gz
        env:
          USERNAME: ${{ secrets.PAUSE_USERNAME }}
          PASSWORD: ${{ secrets.PAUSE_PASSWORD }}
