name: Release package to CPAN via Pause

on:
  workflow_dispatch

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Perl environment
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: '5.34'
          install-modules: 'CPAN::Uploader'
      
      - name: Install package and dependencies
        run: |
          cd Geo-IPinfo
          cpanm --installdeps .
      
      - name: Test and build
        run: perl Makefile.PL && make test && make distcheck && make dist
      
      - name: Upload to CPAN
        run: cpan-upload --dry-run -v -u $USERNAME -p $PASSWORD *.tar.gz
        env:
          RELEASE_TESTING: TRUE
          USERNAME: ${{ secrets.PAUSE_USERNAME }}
          PASSWORD: ${{ secrets.PAUSE_PASSWORD }}
